# Dart
.dart_tool/
.packages
build/
pubspec.lock
doc/api/
.env*
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map
.flutter-plugins
.flutter-plugins-dependencies

# Android
.gradle/
build/
local.properties
*.log
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json
*.hprof

# Apple
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
iOSInjectionProject/
timeline.xctimeline
playground.xcworkspace
.build/
.DS_Store